matplotlib
numpy
pandas
scipy
seaborn
jupyter
notebook
ipykernel
dask
distributed
numcodecs
zarr
toolz
scikit-learn
scikit-allel
pyperf
influxdb
mock ; python_version == '2.7'
pathlib ; python_version == '2.7'
